body{
    text-align: center;
    background-image: url('ussr.png');
    background-size: cover;
}
#button{
    display: inline-block;   
}
.buttonshape{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 5px;
}
.buttonshape2{
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 5px;
}
.buttonshape3{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 5px;
}
.buttonshape4{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 5px;
}
#title{
    font-size: 36px;
    font-family: Comic Sans MS;
    color: #FFD900;
}
#extras{
	font-size: 24px;
}
#commiesite{
    text-align: center;
    background-image: url('ussr.png');
    background-size: cover;
}
